# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
yarn.lock
pnpm-lock.yaml

# IDEs and editors
.idea/
.projectile.json
.vscode/
.history/

# Misc.
/.cache
/.sass-cache
/connect.lock
/coverage
/playwright-report
/playwright-report-production
/test-results
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Angular cache
.angular/
